<page-header-wrapper [title]="id ? '更新栏目' : '添加栏目'">
  <form nz-form [formGroup]="form" (ngSubmit)="save()" class="sf__no-error">
    <nz-card nzTitle="栏目信息">
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4" nzRequired nzFor="title">栏目名称</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="20">
          <input formControlName="title" nz-input style="width: 60%; margin-right:8px;" placeholder="请输入栏目名称" required>
          <nz-form-explain *ngIf="form.get('title').dirty && form.get('title').errors">请输入栏目名称!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4" nzFor="parent">文章栏目</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="20">
          <nz-select formControlName="catalog" [compareWith]="compareFn" nzShowSearch nzAllowClear
                     nzPlaceHolder="请选择文章栏目"
                     style="width: 60%; margin-right:8px;">
            <nz-option *ngFor="let item of catalogs" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="form.get('catalog').dirty && form.get('catalog').errors">请选择文章栏目!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4" nzRequired nzFor="mode">内容模型</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="20">
          <nz-select formControlName="mode" [compareWith]="compareFn" nzShowSearch nzAllowClear nzPlaceHolder="请选择内容模型"
                     style="width: 60%; margin-right:8px;" required>
            <nz-option *ngFor="let item of modes" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="form.get('mode').dirty && form.get('mode').errors">请选择内容模型!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4">文章描述</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="20">
          <textarea rows="4" formControlName="description" nz-input style="width: 60%; margin-right:8px;"
                    placeholder="请输入文章描述"></textarea>
          <nz-form-explain *ngIf="form.get('description').dirty && form.get('description').errors">请输入文章描述!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4">文章内容</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="20">
          <textarea rows="4" formControlName="body" nz-input style="width: 60%; margin-right:8px;"
                    placeholder="请输入文章内容"></textarea>
          <nz-form-explain *ngIf="form.get('body').dirty && form.get('body').errors">请输入文章内容!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-card>
    <footer-toolbar>
      <button type="submit" nz-button [nzLoading]="loading" nzType="primary"
              [disabled]="form.invalid">{{id === 0 ? '添加' : '更新'}}</button>
      <button type="button" nz-button (click)="cancel()">返回</button>
    </footer-toolbar>
  </form>
</page-header-wrapper>
