<page-header-wrapper [title]="'文档管理'">
  <nz-card [nzBordered]="false" class>
    <button routerLink="/article/edit/0" [queryParams]="{'cid':cid}" nz-button [nzType]="'primary'">
      <i nz-icon type="plus"></i>
      <span>新建</span>
    </button>
    <div class="my-md">
      <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
        <ng-template #message>
          已选择
          <strong class="text-primary">{{numberOfChecked}}</strong>
          项
        </ng-template>
      </nz-alert>
    </div>

    <nz-table #nzTable [nzData]="data">
      <thead>
      <tr>
        <th nzShowCheckbox
            (nzCheckedChange)="checkAll($event)"></th>
        <th nzCustomFilter>
          ID
          <!--<nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter
                       #dropdown>
              <i nz-icon nzType="search" class="ant-table-filter-icon"
                 [class.ant-table-filter-open]="dropdown.nzVisible" nz-dropdown></i>
              <div class="search-box">
                  <input type="text" nz-input placeholder="搜索订单号" [(ngModel)]="">
                  <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                      Search
                  </button>
                  <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
          </nz-dropdown>-->
        </th>
        <th>
          名称
          <!--<nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter
                       #dropdown>
              <i nz-icon nzType="search" class="ant-table-filter-icon"
                 [class.ant-table-filter-open]="dropdown.nzVisible" nz-dropdown></i>
              <div class="search-box">
                  <input type="text" nz-input placeholder="搜索订单号" [(ngModel)]="searchValue">
                  <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                      Search
                  </button>
                  <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
          </nz-dropdown>-->
        </th>
        <th nzShowSort nzSortKey="deliveryOn">
          创建时间
        </th>
        <th class="text-right">操作</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-data [ngForOf]="nzTable.data">
        <tr>
          <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
          <td>{{data.id}}</td>
          <td>{{data.title}}</td>
          <td>{{data.updated_at | _date}}</td>
          <td class="text-right">
            <a [routerLink]="'/article/edit/' + data.id">文档</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a [routerLink]="['/article/edit/0']" [queryParams]="{'id':data.id}">子栏目</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a [routerLink]="['/article/edit', data.id]">编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>删除</a>
          </td>
        </tr>
        <!--<tr [nzExpand]="mapOfExpandData[data.id]">
            <td></td>
            <td></td>
            <td colspan="7">
                <div *ngFor="let item of data.items">
                    {{item.productName}}
                </div>
            </td>
        </tr>-->
      </ng-template>
      </tbody>
    </nz-table>

  </nz-card>
</page-header-wrapper>
