<page-header-wrapper [title]="id ? '更新主题' : '添加主题'">
  <form nz-form [formGroup]="form" (ngSubmit)="save()" class="sf__no-error">
    <nz-card nzTitle="栏目信息">
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4" nzRequired nzFor="name">主题名称</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="20">
          <input formControlName="name" nz-input style="width: 60%; margin-right:8px;" placeholder="请输入主题名称" required>
          <nz-form-explain *ngIf="form.get('name').dirty && form.get('name').errors">请输入主题名称!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4" nzRequired nzFor="template">主题模板</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="20">
          <input formControlName="template" nz-input style="width: 60%; margin-right:8px;" placeholder="请输入主题模板" required>
          <nz-form-explain *ngIf="form.get('template').dirty && form.get('template').errors">请输入主题模板!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4">主题描述</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="20">
          <textarea rows="4" formControlName="description" nz-input style="width: 60%; margin-right:8px;"
                    placeholder="请输入主题描述"></textarea>
          <nz-form-explain *ngIf="form.get('description').dirty && form.get('description').errors">请输入主题描述!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4" nzRequired nzFor="price">价格</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="20">
          <nz-input-number formControlName="price" [nzStep]="0.01" nz-input style="width: 60%; margin-right:8px;" placeholder="请输入价格" required></nz-input-number>
          <nz-form-explain *ngIf="form.get('price').dirty && form.get('price').errors">请输入价格!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4" nzRequired nzFor="discount">折扣</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="20">
          <nz-input-number formControlName="discount" [nzStep]="0.01" nz-input style="width: 60%; margin-right:8px;" placeholder="请输入折扣" required></nz-input-number>
          <nz-form-explain *ngIf="form.get('discount').dirty && form.get('discount').errors">请输入折扣!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-card>
    <footer-toolbar>
      <button type="submit" nz-button nzType="primary"
              [disabled]="form.invalid">{{id === 0 ? '添加' : '更新'}}</button>
      <button type="button" nz-button (click)="cancel()">返回</button>
    </footer-toolbar>
  </form>
</page-header-wrapper>
